/* Colors and fonts */

body {
	background: rgb(0, 61, 28);
	color: rgb(250, 250, 250);
	font-family: calibri;
	font-size: 16px;
}
h1, h2 {
	color: rgb(205, 133, 63);
}
h1 {
	font-size: 34px;
	font-weight: 900;
}
h2 {
	font-size: 26px;
	font-weight: lighter;
	font-weight: 500;
}
a{
	color: rgb(250, 250, 250);
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}
a:hover{
	color: rgb(247, 233, 30);
}

/* Custom design with class */

.container{
	width: 700px; 
	margin: 40px auto
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.img-circle{
	border-radius: 50%;
}
.card-green{
	background: rgb(0, 70, 28);
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, .3);
	text-align: center;
}
.card-marge{
	padding: 25px;
	margin: 40px auto;
}
.first-card-width{
	width: 500px;
}
.second-card-width{
	width: 400px;
}
.last-card-width{
	width: 600px;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline a {
	font-size: 20px;
}
.btn-brown{
	background-color: rgb(205, 133, 63);
	color: rgb(250, 250, 250);
	padding: 12px 20px;
	border-radius: 4px;
}
.btn-brown:hover{
	background-color: rgb(247, 233, 30);
	color: rgb(250, 250, 250);
}

/* Custom design with id */

#introduction p {
	margin-bottom: 40px;
}